.page__header {
    background-color: #474965;
    width: 100%;
    height: 60px;
    padding: 8px 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
}

.user-info__name {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    align-self: center;
}

.user-info__photo {
    border-radius: 50%;
}

.logout {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 6px;
}